h1{text-align:center;
	
}
.contenedor
{
	display:flex;
	justify-content:center;
	align-content:center;
}

.titulo{
	text-align:center; 
	border:1px solid olive; background-color:lightgreen; color:green;
	width:30%;
	}
	
	.contenido{
		background-color:tan; color:brown; 
		text-align:center; border:solid 2px brown;
		margin:30px; padding:20px;
		}
		
	.suma
	{
		text-align:center;
		padding:10px;
		margin:20px;
		border:2px solid black;
		
		
	}
		

